.TopCategories{
    margin: auto;
    text-align: center; 
    max-width: 1920px;
    justify-content: center;
    margin-top: 150px;
  }
    .CategoriesTD{
      font-family: 'Josefin Sans';
      font-size: 30px;
      line-height: 49px;
      color: #151875;
      text-align: center;
    }
      .CategoriesTB{
        display: flex;
        flex-wrap: wrap;
        margin-left: 15%;
        margin-right: 10%;
      }
        .CategoriesTB >*{
          flex: 1 1 25%;
        }
        .CategoriesTBn{
          text-align: left;
        }
        .CategoriesTBv{
          text-align: center;
          max-width: 300px;
        }
        .CategoriesTBimg1{
          background-color:rgba(246, 247, 251, 1);
          width: 240px;
          height: 240px;
          border-radius: 50%;
          box-shadow: -5px 7px 0px 0px rgb(49, 32, 138);
        }
        .imgtop{
          margin-right: 10px;
          margin-top: 30px;
        }
        .imgtop1{
          margin-top: 45px;
          margin-right: 10px;
        }
        .CategoriesTBname{
          font-family: 'Josefin Sans';
          font-size: 20px;
          line-height: 23px;
          margin-right: 60px;
          color: #151875;
        }
        .CategoriesTBimg{
          background-color:rgba(246, 247, 251, 1);
          width: 240px;
          height: 240px;
          border-radius: 50%;
        }
        .bnt{
          position: absolute;
        }
        .Categoriesbnt{
          position: relative;
          left: 80px;
          bottom: 40px;
          background-color: rgba(8, 209, 95, 1);
          color: white;
          border: 0px;
          width: 80px;
          height: 30px;
          border-radius:2px;
        }
          .Categoriesbnt:hover{
            background-color: rgb(5, 170, 77);
          }
  /* mobile */
  @media only screen and (max-width: 599px) {
    .TopCategories{
      max-width: 320px;
      text-align: center;
      justify-content: center;
      margin-top: -180px;
    }
    .CategoriesTD{
      font-size: 20px;
    }
    .CategoriesTB{
      margin-left: 12%;
      margin-right: 10%;
    }
    .CategoriesTBname{
      font-size: 18px;
    }
  }
  /* tablet */
  @media only screen and (min-width: 600px) and (max-width: 1023px) {
    .TopCategories{
      max-width: 640px;
      margin-top: 10px;
    }
    .CategoriesTD{
      font-size: 28px;
    }
      .CategoriesTB{
      margin-left: 10%;
      margin-right: 5%;
    }
    .CategoriesTBname{
      margin-left: -35px;
      font-size: 18px;
    }
  }
  /* Pc */
  @media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .TopCategories{
      max-width: 1024px;
      margin-top: 20px;
    }
    .CategoriesTB{
      display: flex;
      flex-wrap: wrap;
      margin-left: 2%;
      margin-right: 2%;
    }
      .CategoriesTB >*{
        flex: 1 1 10%;
      }
      .CategoriesTBname{
        margin-left: 50px;
      }
  }