.TrendingProducts{
    margin: auto;
    text-align: center; 
    max-width: 1920px;
    justify-content: center;
  }
    .trendingProductsTD{
      font-size: 30px;
      color: #151875;
      font-family: 'Josefin Sans';
      line-height: 100px;
      text-align: center;
    }
    .productsTrend{
      display: flex;
      justify-content : center;
      text-align: center;
      flex-wrap: wrap;
      margin-left: 7%;
      margin-right: 10%;
    }
    .productsTrend >*{
      float: 1 1 20%;
    }
      .productsTrend1{
        margin-left: 5%;
        width: 250px;
        height: 300px;
        background-color:rgba(245, 246, 248, 1);
      }
      .productsTrend1Img{
        width: 220px;
        height: 200px;
        margin-top: 40px;
        margin-left: 13px;
      }
    .productsTrend1Nd{
        background-color: white;
        width: 250px;
        height: 100px;
        margin-top: 10px;
    }
      .prTD{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #151875;
      }
      .prT{
        display: inline-flex;
        position: relative;
        bottom: 30px;
      }
      .prTr{
        font-family: 'Josefin Sans';
        font-size: 16px;
        line-height: 16px;
        color: rgba(21, 24, 117, 1);
      }
      .prTg{
        margin-left: 10px;
        margin-top: 18px;
        font-family: 'Josefin Sans';
        font-size: 14px;
        line-height: 14px;
        text-decoration-line: line-through;
        color:rgba(21, 24, 117, 0.3);
      }
    .productsTrend4{
      margin-left: 5%;
      width: 360px;
      height: 270px;
      margin-top: 40px;
      background-color:rgba(255, 246, 251);
    }
      .productsTrend4Nd{
        position: absolute;
      }
      .prC{
        position: relative;
        text-align: left;
        margin-left: 30px;
      }
        .prCO{
          font-family: 'Josefin Sans';
          font-size: 26px;
          line-height: 30px;
          color: #151875;
        }
        .prCS{
          font-family: 'Lato';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: rgba(251, 46, 134, 1);
          text-decoration-line: underline;
          position: relative;
          bottom: 20px;
        }
      .productsTrend4Img{
        position: relative;
        bottom: 60px;
        left: 140px;
      }
      .productsTrend5{
        margin-left: 5%;
        width: 380px;
        height: 270px;
        margin-top: 40px;
        background-color:rgba(238, 239, 251, 1);
      }
        .productsTrend5Nd{
          position: absolute;
        }
        .prC5{
          position: relative;
          text-align: left;
          margin-left: 30px;
        }
          .prCO5{
            font-family: 'Josefin Sans';
            font-size: 26px;
            line-height: 30px;
            color: #151875;
          }
          .prCS5{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: rgba(251, 46, 134, 1);
            text-decoration-line: underline;
            position: relative;
            bottom: 20px;
          }
        .productsTrend5Img{
          position: relative;
          bottom: 20px;
          left: 60px;
        }
    .productsTrend7{
      margin-left: 5%;
      width: 300px;
      height: 200px;
      margin-top: 40px;
    }
        .prC71{
          display: flex;
          text-align: left;
          width: 300px;
          height: 80px;
          background-color:rgba(245, 246, 248, 1);
        }
        .prC72{
          display: flex;
          text-align: left;
          width: 300px;
          height: 80px;
          margin-top: 10px;
          background-color:rgba(245, 246, 248, 1);
        }
        .prC73{
          display: flex;
          text-align: left;
          width: 300px;
          height: 80px;
          margin-top: 10px;
          background-color:rgba(245, 246, 248, 1);
        }
          .prCO71{
            width: 90px;
            height: 30;
            margin-left: 15px;
          }
          .prCS71{
            font-family: 'Josefin Sans';
            font-size: 16px;
            line-height: 19px;
            color: #151875;
            background-color: white;
            width: 230px;
            padding-left: 10px;
            line-height: 10px;
          }
            .prCS71S{
              text-decoration-line: line-through;
              font-size: 14px;
              line-height: 14px;  
            }
    /* mobile */
    @media only screen and (max-width:599px) {
      .TrendingProducts{
        max-width: 320px;
      }
      .trendingProductsTD{
        font-size: 20px;
        line-height: 0px;
      }
      .productsTrend{
        margin-left: -45%;
        text-align: left;
        margin-right: 5%;
        width: 100%;
      }
      .productsTrend1{
        width: 185px;
        height: 175px;
        margin-top: 0px;
        display: flex;
        background-color: white;
        margin-left: 200px;
      } 
      .productsTrend1Img{
        width: 150px;
        height: 160px;
        margin-top: 15px;
        margin-left: 0px;
        background-color: rgba(245, 246, 248, 1);
    }
    .productsTrend1Nd{
      margin-top: 40px;
      margin-left: 10px;
    }
      .Trend1Img{
        width: 150px;
      }
      .prTD{
        font-size: 20px;
      }
      .prTr{
        font-size: 15px;
      }
      .prTg{
        font-size: 11px;
        margin-top: 17px;
      }
    .productsTrend4{
      margin-left: 130px;
      width: 295px;
      height: 200px;
      margin-top: 20px;
    }
    .Trend4Img{
      width: 150px;
    }
    .productsTrend4Nd {
      position: absolute;
      width: 259px;
      background-color:  rgba(255, 246, 251);
      height: 203px;
  }
    .productsTrend4Img{
      width: 150px;
      left: 100px;
    }
    .prCO{
      font-size: 20px;
    }
    .prCS{
      font-size: 16px;
    }
    .productsTrend5{
      margin-left: 130px;
      width: 295px;
      height: 200px;
    }
    .Trend5Img{
      width: 200px;
  }
  .productsTrend5Nd {
    position: absolute;
    width: 230px;
    background-color: rgba(245, 246, 248);
    height: 203px;
}
  .prCO5{
    font-size: 20px;
  }
  .prCS5{
    font-size: 16px;
  }
  .productsTrend7{
    margin-left: 270px;
  }
}
  /* tablet */
  @media  only screen and (min-width:600px) and (max-width:1023px) {
    .TrendingProducts{
      max-width: 800px;
    }
    .productsTrend{
      display: flex;
      flex-wrap: wrap;
      margin-right: 5%;
    }
    .productsTrend >*{
      float: 1 1 10%;
    }
    .productsTrend1{
      width: 220px;
    }
    .Trend1Img{
      width: 150px;
    }
    .productsTrend1Img{
      width: 100px;
      height: 150px;
      margin-top: 15px;
      margin-left: 40px;
      background-color: rgba(245, 246, 248, 1);
    }
  }